<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Back Office</title>
	</head>
	<body>
		<header>
			<a href="/admin"><h1>Back Office</h1></a>
			<nav>
				<a href="/admin/story">Gérer les articles</a>
				<a href="/admin/category">Gérer les catégories</a>
			</nav>
		</header>
		<main id="admin">
            <img src="/img/charts.png" alt="">
            <img src="/img/circle.png" alt="">
        </main>
		<footer>
			<p>&copy; 2024 - Tonio</p>
		</footer>
	</body>
</html>
